name: Build Android APK
on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      # Rimuoviamo il setup manuale di Flutter per lasciare che Flet
      # scarichi esattamente la versione che vuole lui.

      - name: Install Dependencies
        run: |
          pip install -r requirements.txt
          pip install flet

      - name: Build APK (Auto-Accept)
        run: |
          # "yes" preme automaticamente "y" quando Flet chiede di scaricare Flutter
          yes | flet build apk --verbose
          
      - name: Rename APK
        run: |
          mv build/apk/app-release.apk build/apk/M2G_App.apk

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Scarica_M2G_App
          path: build/apk/M2G_App.apk
