name: Build Android APK
on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.24.0'

      - name: Install Dependencies
        run: |
          # Disabilita analytics
          flutter config --no-analytics
          
          # Installa librerie Python
          pip install -r requirements.txt
          pip install flet
          
          # NOTA: Abbiamo rimosso 'flutter clean' perché causava l'errore pubspec.yaml

      - name: Build APK (Verbose Mode)
        run: |
          # Flet creerà il progetto Flutter qui
          flet build apk --verbose
          
      - name: Rename APK
        run: |
          mv build/apk/app-release.apk build/apk/M2G_App.apk

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Scarica_M2G_App
          path: build/apk/M2G_App.apk
