name: Build Android APK
on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install flet

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.27.1'

      - name: Build APK
        run: |
          # 1. CONTROLLO DI SICUREZZA: Elenchiamo i file per essere sicuri che main.py ci sia
          echo "LISTA DEI FILE PRESENTI:"
          ls -R
          
          # 2. COSTRUZIONE:
          # NOTA IL PUNTO "." ALLA FINE -> significa "Costruisci questa cartella"
          # Il comando "yes" accetta automaticamente le licenze Android
          yes | flet build apk . --verbose
          
          # 3. RINOMINA:
          mv build/apk/app-release.apk build/apk/M2G_App.apk

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Scarica_M2G_App
          path: build/apk/M2G_App.apk
